{erl_opts, [debug_info]}.
{deps,[
  {jsx, {git, "https://github.com/talentdeficit/jsx.git", {branch, "v2.8.0"}}},
  meck
]}.
{escript_incl_apps,
 [loanscreener_cli]}.
{escript_main_app, loanscreener_cli}.
{escript_name, loanscreener_cli}.
{escript_emu_args, "%%! +sbtu +A0\n"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.
